@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.glass-effect {
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.9);
}

.animate-gradient {
  background: linear-gradient(270deg, #0ea5e9, #6366f1, #8b5cf6);
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
}

.quote-transition {
  transition: all 0.3s ease-in-out;
}
